*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
body{font-size: 14px;min-width: 1000px;height: 100%;
font-family: Helvetica,sans-serif;}
ul,ol{list-style: none;}
a{color: inherit;text-decoration: none;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;
fill: currentColor;overflow: hidden;}
 /* layout */
 .page{width: 100%;height: 100%;padding-top: 80px;}
 header{width: 60%;margin-left: auto;margin-right: auto;}
 .wrapper{width: 60%;margin-left: auto;margin-right: auto;display: flex;
height: 60vh;box-shadow: 1px 0 4px #ddd;}
 aside{width: 200px;}
 main{flex-grow: 1;}
 /* header */
 header{background: rgb(200, 50, 50);padding: 20px 0;border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.logo{display: flex;justify-content: flex-start;}
.logo>.icon {width: 20px; height: 20px;margin: 0 5px 0 16px;vertical-align: top;
    fill: currentColor;overflow: hidden;}
 .logo>p{color: #fff;font-size: 16px;line-height: 20px;
font-weight: bold;}
/* aside */
aside{display: flex;flex-direction: column;justify-content: space-between;}

.songList{flex-grow: 1;overflow: auto;}
.songList::-webkit-scrollbar {width: 5px;height: 5px;}
.songList::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,.08);
border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
ul>li{display: flex;cursor: pointer;position: relative;}
ul>li:nth-child(2n-1){background: rgba(0,0,0,.06);}
ul>li::before{content:'';display: block;height: 36px;width: 5px;
margin:2px 0;border-radius: 2px;}   
ul>li.active{background: #bbb;}
ul>li.active::before{background: rgb(200, 50, 50);}
li>div.songicon{text-align: center;padding: 7px 0;}
li>div>.icon{width: 26px; height: 26px;vertical-align: top;margin-left: 5px;
fill: currentColor;overflow: hidden;}
li>div.songinfo{overflow: hidden;margin-left: 5px;}
li>div.songinfo>p{height:20px;line-height: 20px;white-space: nowrap;
overflow: hidden;text-overflow: ellipsis;font-size: 14px;font-weight: bold;
padding-left: 2px;}
li>div.songinfo>.icon{width: 14px; height: 14px;vertical-align: top;
fill: currentColor;overflow: hidden;margin: 3px 0;}
li>div.songinfo>span{line-height: 20px;font-size: 12px;}
li>.add{width: 40px; height: 40px;position: absolute;top: 0;right: 0;
opacity: 0;}
li>.add.active{animation: add 1s linear forwards}
@keyframes add{from{opacity: 1;}to{opacity: 0;}}
li>.add>.icon{width: 30px; height: 30px;vertical-align: top;
fill: currentColor;overflow: hidden;margin: 5px;}

.addSong{width: 200px;height: 60px;display: flex;justify-content: center;
align-items: center;background: rgba(0,0,0,0.03);}
.addSong>.icon{width: 20px; height: 20px;vertical-align: top;
fill: currentColor;overflow: hidden;margin-right: 5px;}
.addSong>span{font-size: 16px;font-weight: bold;cursor: pointer;}

/* main */
main>.upload{width: 100%;height: 100%;display: none;}
main>.upload.active{display: block;}
main>.upload>.dragArea{width: 80%;margin: 50px auto 20px auto;
height: 60%;border: 1px dashed #ddd;border-radius: 10px;
color: #ddd;display: flex;justify-content: center;align-items: center;}
main>.upload>.uploadBtn{margin: 0 auto;
border: 1px solid rgb(200, 50, 50);border-radius: 8px;width: 30%;
height: 10%;color: rgb(200, 50, 50);font-size: 14px;cursor: pointer;
display: flex;align-items: center;justify-content: center;
box-shadow: inset 0 0 2px rgb(200, 50, 50);}

main>.edit{width: 100%;height: 100%;position: relative;display: none;}
main>.edit.active{display: block;}
main>.edit>p{width: 100%;height: 10%;line-height:100%;display: flex;
justify-content: center;align-items: center;font-size: 14px;}
main>.edit>form{width: 80%;height: 80%;border: 1px dashed #ddd;
border-radius: 10px;margin-right: auto;margin-left: auto;display: flex;
flex-direction: column;justify-content: space-evenly;align-items: center;}
form input{border: 1px solid #ddd;border-radius: 5px;width: 200px;
height: 30px;font-size: 14px;padding-left: 5px;}
form>div:nth-child(6){width: 245px;display: flex;justify-content: space-between;
align-items: center;}
form>div:nth-child(6)>button{border: 1px solid rgb(200, 50, 50);border-radius: 5px;
width: 30%;height: 30px;font-size: 16px;color: rgb(200, 50, 50);
background: #fff;cursor: pointer;display: flex;justify-content: center;align-items: center;}
form>div:nth-child(6)>button.disabled{border: 1px solid #ddd;color: #ddd;}
form textarea{width: 200px;height: 80px;border-radius: 5px;border: 1px solid #ddd;
vertical-align: top;}

/* mask */
.mask{width: 100%;height: 100%;position: fixed;top: 0;left: 0;
background: rgba(0,0,0,0.2);display: none}
.mask.active{display: block}
.mask>.loading{width: 100px;height: 100px;position: fixed;
top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;
;animation: loading 2.5s linear infinite;}
@keyframes loading{from{transform: rotateZ(0);}to{transform: rotateZ(360deg);}}
.loading>.icon {width: 100px; height: 100px;vertical-align: -0.15em;
fill: currentColor;overflow: hidden;}