*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
body{font-size: 14px;width: 100%;height: 100%;
font-family: Helvetica,sans-serif;background: #eee;}
ul,ol{list-style: none;}
img{vertical-align: middle;}
a{color: inherit;text-decoration: none;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;
fill: currentColor;overflow: hidden;}

.page{width: 100%;}
/* header */
header{position: relative;background: #666;padding: 10px 0;width: 100%;}
header div{position: absolute;top: 50%;left: 5%;margin-top: -12px;
margin-left: -12px;}
header div>.icon{width: 24px; height: 24px;vertical-align: top;
fill: currentColor;overflow: hidden;}
header p{color: #eee;font-size: 16px;margin-left: 10%;}

/* info */
div.info{background: #666;color: #eee;display: flex;justify-content: center;
align-items: center;width: 100%;padding-bottom: 10%;}
.info>.list-cover{width: 40%;border-radius: 5px;
margin-top: 5%;margin-bottom: 5%;}
.info>.list-cover>img{width: 100%;border-radius: 5px;}

.info .des{width: 35%;display: flex;flex-direction: column;justify-content: center;
margin-left: 5%;}
.des>h3{width: 100%;margin-bottom: 5%;}
h5{margin-bottom: 2%;}
.des>div.sumwrapper{width: 100%;position: relative;}
.des p.summary{width: 100%;display: -webkit-box;-webkit-line-clamp:4;
-webkit-box-orient:vertical;overflow: hidden;font-size: 12px;text-indent: 2em;}
.des div.full{width: 100%;font-size: 12px;padding: 10px 10px 3px 10px;
position: absolute;top: 0;left: 0;z-index:1;background: #aaa;transform: scale(1.2);
border-radius: 4px;text-align: right;display: none;}
.des div.full.active{display: block;}
.des div.full>p{text-align: left;text-indent: 2em;}
div.full>span{font-size: 12px;color: #ccc;margin-top: 2px;margin-right: -5px;}
/* list */
div.top{display: flex;justify-content: flex-start;align-items: center;
padding-left: 10%;position: relative;border-bottom: 1px solid #aaa;
border-top-left-radius: 10px;border-top-right-radius: 10px;margin-top: -6px;
background: #eee;}
.top>div{position: absolute;top: 50%;left: 10%;margin-top: -13px;
margin-left: -30px;}
.top>div>.icon{width: 26px; height: 26px;vertical-align: top;
fill: currentColor;overflow: hidden;}
.top p{font-size: 15px;margin: 10px 0;}
.top span{font-size: 12px;color: #666;}

ul.songlist{padding-left: 10%;height: 100%;}
li{border-bottom: 1px solid #aaa;padding: 10px 0;position: relative;}
li>p{font-size: 14px;margin-bottom: 5px;}
li>span{font-size: 12px;color: #666;}
li>div{position: absolute;top: 50%;right: 9%;margin-top: -12px;}
li>div>.icon{width: 24px; height: 24px;vertical-align: top;
fill: currentColor;overflow: hidden;}

footer{position: fixed;left: 0;bottom: 0;width: 100%;box-shadow: 0 0 2px #ddd;
background: #eee;display: none;}
footer.active{display: block;}
/* play */
div.play{width: 100%;display: flex;justify-content: space-between;
align-content: center;}

div.progress{width: 70%;height: 1px;margin-left: 10%;background: #bbb;
margin-top: 15px;}
.progress>p{width: 0;height:1px;background: rgb(200,50,50);transition: all 0.3s;}
div.coverwrapper{width: 10%;}
div.coverwrapper>img{width: 70%;margin: 15%;border-radius: 5px;}
.play>p{flex-grow: 1;font-size: 16px;color:#333;display: flex;align-items: center;}
div.btns{width: 20%;display: flex;justify-content: space-around;align-items: center;}
.btns .icon{width: 30px; height: 30px;vertical-align: top;
fill: currentColor;overflow: hidden;}
span.play,span.pause{display: none;}
span.play.active,span.pause.active{display: inline;}