*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
.clearfix::after{content: '';display: block;clear: both;}
ol,ul{list-style: none;}
body{font-size:14px;font-family: Helvetica,sans-serif;}
a{text-decoration: none;color: inherit;}
img{vertical-align: middle;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;
fill: currentColor;overflow: hidden;}

header{background: rgb(200, 50, 50);padding: 10px 0;border-top-left-radius: 5px;
border-top-right-radius: 5px;display: flex;justify-content: space-between;
align-items: center;}
.logo{display: flex;justify-content: flex-start;}
.logo>.icon {width: 30px; height: 30px;margin: 0 3px 0 10px;vertical-align: top;
fill: currentColor;overflow: hidden;}
.logo>p{color: #fff;font-size: 20px;line-height: 30px;
font-weight: bold;}
header>div:nth-child(2){height: 24px;color: #fff;border: 1px solid #fff;
line-height: 24px;margin-right: 15px;padding: 0 5px;border-radius: 15px;
font-size: 12px;}