*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
.clearfix::after{content: '';display: block;clear: both;}
ol,ul{list-style: none;}
body{font-size:14px;font-family: Helvetica,sans-serif;}
a{text-decoration: none;color: inherit;}
img{vertical-align: middle;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;
fill: currentColor;overflow: hidden;}

div.wrapper{width: 100%;background-image: url(../img/playwall.jpg);
background-position: center center;background-size: cover;position: relative;
height: 100vh;}

header{padding: 10px 0;border-top-left-radius: 5px;
border-top-right-radius: 5px;display: flex;justify-content: space-between;
align-items: center;}
.logo{display: flex;justify-content: flex-start;}
.logo>.icon {width: 30px; height: 30px;margin: 0 3px 0 10px;vertical-align: top;
fill: currentColor;overflow: hidden;}
.logo>p{color: #fff;font-size: 20px;line-height: 30px;
font-weight: bold;}

/* dist */
.distwrapper{width: 100%;position: relative;}
.pointer{width: 60%;z-index: 1;}
.pointer>img{width: 100%;}
.dist{width: 60%;position: absolute;left: 20%;}
.dist img{width: 100%;}
.dist-light{width: 60%;position: absolute;left: 20%;top: 10%;}
.dist-light img{width: 100%;}
/* .distwrapper{border:1px solid white;width: 60%;margin: 0 auto;position: relative;}
.distwrapper>.dist{width: 100%;}
.distwrapper>.dist-light{width: 100%;position: absolute;top: 0;left: 0;}
.distwrapper img{width: 100%;} */